.newslog-calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.newslog-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.newslog-calendar-day-label {
    text-align: center;
    font-weight: bold;
}

.newslog-calendar-day {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.newslog-calendar-day:hover {
    background-color: #f0f0f0;
}

.newslog-downloaded {
    background-color: #a0c4ff; 
    color: white;
}

.newslog-today {
    border: 1px solid #ccc;
}

.newslog-disabled {
    color: #ccc;
    cursor: not-allowed;
}

.newslog-hidden {
	display: none;
}
